@model IEnumerable<Petrivske.Models.ApplicationUser>

@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="big-wrapper">
    <div class="wrapper">
        <div class="container">
            <div class="col-md-12">
                <section class="form">
                    <h2>Управління адміністраторами</h2>


                    <p>
                        @Html.ActionLink("Додати нового адміністратора", "Register")
                    </p>
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>


                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.ActionLink("Редагувати", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Видалити", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    </table>
                </section>
            </div>
        </div>
    </div>
</div>
