@model IEnumerable<Petrivske.Models.Rishennya>

@{
    ViewBag.Title = "RishennyaList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="big-wrapper">
    <div class="wrapper">
        <div class="container">
                <div class="col-md-12">
                    <section class="form">
                        <h2>Прийняті рішення ради</h2>

                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Date)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Number)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Content)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model) {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Date)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Number)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Content)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                                        </td>
                                    </tr>
                                }

                        </table>
                    </section>
                </div>
        </div>
    </div>
</div>
