@model IEnumerable<Petrivske.News>

@{
    ViewBag.Title = "Результати пошуку - Новини";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CurrentSection = "News";
}


<div class="big-wrapper">
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <section class="blog-posts-navigation" style="border-top: none;">
                        
                            <p class="prev-posts"><h3>Результати пошуку</h3></p>                        
                        <h4>За запитом <strong>"@ViewBag.Search"</strong> знайдено новин: @Model.Count() </h4>
                    </section>
                    @foreach (var i in Model.OrderByDescending(a => a.dateBegin))
                    {

                        <article class="blog-post">

                            <p style="margin-bottom: 0px;">@i.dateBegin.Value.ToShortDateString()<span class="divider">&middot;</span></p>
                            <h2><a href="~/News/Details/@i.id">@i.title</a></h2>
                            <p>@Html.Raw(i.minitext.Replace("style=\"", "style = \"max-width: initial; "))</p>
                            <p>
                                <a href="~/News/Details/@i.id" class="button"><span>Детальніше</span></a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a href="~/News/Edit/@i.id" class="button"><span>Редагувати</span></a>
                                    <a href="~/News/Delete/@i.id" class="button"><span>Видалити</span></a>
                                }
                            </p>
                        </article>
                        <hr />
                    }


                   
                </div>
                <div class="col-md-4">
                    <section class="sidebar">
                        <div class="widget">
                            <form action="~/News/Search" method="get">
                                <span class="search-field">
                                    <input type="text" value="@ViewBag.Search" name="search" placeholder="Пошук" />
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </span>
                            </form>
                        </div>                   
                        <div class="widget">
                            <h4>Категорії</h4>
                            <ul class="sidebar-menu">
                                <li style="text-shadow: 0px 0px 1px #ab9364, 0 0 1em #ab9364"><a href="~/News/Index?search=@ViewBag.Search"><i class="fa fa-angle-right"></i> <span class="title">Результати пошуку</span><span class="count">@Model.Count()</span></a></li>
                                <li><a href="~/News/Index?page=0"><i class="fa fa-angle-right"></i> <span class="title">Всі новини</span></a></li>
                                @foreach (var i in Petrivske.Models.Tag.GetAllTags().OrderBy(a => a.News.Count))
                                {
                                    if (i.News.Count != 0)
                                    {
                                        <li><a href="~/News/Index?page=0&Category=@i.Id"><i class="fa fa-angle-right"></i> <span class="title">@i.Keyword</span> <span class="count">@i.News.Count</span></a></li>
                                    }
                                }
                            </ul>
                        </div>
                        @{Html.RenderAction("_SmilarNewsSidebarPartial", "News");}
                     
                    </section>
                </div>
            </div>
            @Html.Partial("_FooterPartial")
        </div>
    </div>
</div>
