@model IEnumerable<Petrivske.Models.Gallery>

@{
    ViewBag.Title = "Управління галереєю";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CurrentSection = "Admins";
}
<div class="big-wrapper">
    <div class="wrapper">
        <div class="container">
            <div class="col-md-12">
                <section class="form">
                    <h2>Управління галереєю</h2>

                    <p>
                        @Html.ActionLink("Додати нову галереєю", "Create")
                    </p>
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.ActionLink("Редагувати", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Видалити", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    </table>
                </section>
            </div>
            @Html.Partial("_FooterPartial")
        </div>
    </div>
</div>
